@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
    font-family:"Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.9rem;
    color: black;
    letter-spacing: .05rem;
    margin-top: 5px;
}

.section-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.brand h3{
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
}

.brand h3 span{
    color: #FF0000;
}

#hero{
    background-image: url(./img/20180519_155144.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .6;
    z-index: -1;
}

#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50 px;
    justify-content: center;
}

#hero h1{
    display: block;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    color: #F9FA0F;
    text-align: left;
    margin: 20px;
}

#hero h2{
    display: block;
    width: fit-content;
    font-size: 1rem;
    position: relative;
    color: white;
    text-align: center;
    margin: 20px;
}

#hero .piros{
    color: #FF0000;
    text-align: left;
}

#hero .call{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid #FF0000;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
    margin: 20px;
}

#hero .call:hover{
    color: white;
    background-color: #FF0000;
}

#service{
    background-color: #F9FA0F;
}

#service .service{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#service .service-title{
    font-size: 1.5rem;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

#services .service-top p{
    font-size: 1rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
    margin: 10px 5%;
}

#service .service-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#service .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    margin: 10px 5%;
    position: relative;
    overflow: hidden;
}

#service .service-bottom .icon {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

#service .service-item h3{
    font-size: 1rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: black
}

#service .service-item p{
    text-align: left;
    font-size: 1rem;
    line-height: 1.9rem;
    color: black;
}

#references .references {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#references .references-header h3{
    margin-bottom: 30px;
    color: black;
}

#references .all-references{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#references .references-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#references .references-info{
    padding: 38px;
    flex-basis: 50%;
    background-color: #F9FA0F;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#references .references-info h3{
    font-size: 1rem;
    color: #FF0000;
    font-weight: 500;
}

#references .references-info h4{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#references .references-info p{
    text-align: left;
}

#references .references-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#references .references-img:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .6;
}

#references .references-img img{
    transition: .3s ease transform;
}

#references .references-item:hover .references-img img{
    transform: scale(1.1);
    /* Ezt jó lenne megfixelni - opacity: 1;*/
}

#bemutat .bemutat-container{
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 300px 20px;
    background-color: #F9FA0F;
    width: 100%;
}

#bemutat .bemutat-container{
    width: 100%;
    background-color: #F9FA0F;
}
#bemutat .bemutat-container h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: .2rem;
}

#bemutat .bemutat-container h4{
    text-align: center;
    margin-bottom: 50;
    /* Ezt nem műküdik margin-bottom: 50px; */
}

#bemutat .bemutat-container p{
    text-align: center;
}

#contact .contact{
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: #4E4949;
}

#contact .section-title{
    color: white;
    margin: 50px;
    font-weight: 500;
    text-align: center;
    letter-spacing: .2rem;
}

#contact .contact-items{
    width: 400px;
}

#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    color: white;
    border: 2px solid #FF0000;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contact .contact-item:hover{
    color: white;
    background-color: #FF0000;
}


#contact .icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h3{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h3{
    font-size: 0.7rem;
    font-weight: 500;
}

#footer{
    background-color: #F9FA0F;
}

#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item{
    height: 20px;
    width: 20px;
    margin-bottom: 0 5px;
}

#footer p{
    color: black;
    font-size: 0.5rem;
}

/* Reszponzivitás - Tabletnek (betűméreteket nem állítottam át)*/

@media only screen and (min-width: 768px){

#service .service-bottom .service-item{
    flex-basis: 45%;
    margin: 2.5%;
}

#references .references{
    padding-bottom: 0;
}

#references .references-item{
    flex-direction: row;
}

#references .references-item:nth-child(even){
    flex-direction: row-reverse;
}

#references .references-item{
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
}

#references .all-references .references-info{
    height: 100%;
    margin: 0;
}
#references .all-references .references-img{
    height: 100%;
    margin: 0;
}

#contact .contact{
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#contact .contact-items{
    width: 100%;
    display: flex;
    flex-direction: inline;
}